* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: rgb(247, 166, 62);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 160vh;
}

/* heading */

h1,
.main-heading__paragraph {
  padding: 3rem;
  font-size: 6rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

h1 {
  text-decoration: underline solid rgb(94, 94, 94) 4px;
}

.main-heading__paragraph {
  padding-top: 5rem;
  font-size: 3rem;
}
.main-heading {
  display: flex;
}

/* images */

img {
  width: 90%;
  padding: 0.4rem;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 2px;
  margin: 2rem;
  transition: all 2s, transform 0.5s, box-shadow 0.5s;
}

img:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: rotate(4deg) scale(1.02);
}

.main-gallery {
  display: grid;
  grid-template:
    "image_1 text_1 image_2" auto
    "text_2 image_3 text_3" auto
    / 1fr 1fr 1fr;
}

.main-gallery__image_1 {
  grid-area: image_1;

  margin: 2rem;
}

.main-gallery__image_2 {
  grid-area: image_2;

  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.main-gallery__image_3 {
  grid-area: image_3;
  display: grid;
  place-items: center;

  margin-top: -4rem;
}

/* text snippets */

.text-content_one,
.text-content_two,
.text-content_three {
  font-family: serif;
  font-style: oblique;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;

  margin-top: 2rem;
}

.text-content_one p {
  margin-top: 2rem;
}

.text-content_two p {
  margin: 0rem 2rem;
}

.text-content_three {
  margin-right: 4rem;
}

/* footer */

.footer {
  text-align: center;
}

.footer p {
  padding: 3rem;
  margin-top: 3rem;
  background-color: rgb(202, 142, 45);
}

.footer a {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.6rem;

  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

/* scroll to top */

.scroll-to-top {
  text-align: center;
}

.scroll-to-top a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-size: 2rem;
}

/* media queries */

@media screen and (max-width: 1230px) {
  .main-gallery {
    display: grid;
    grid-template:
      "image_1 text_1 " auto
      "image_2 text_2 " auto
      "image_3 text_3" auto
      / 1fr 1fr;
  }

  .text-content_one {
    margin-right: 2rem;
  }

  .text-content_two {
    padding-top: 2rem;
  }

  .main-gallery__image_3 {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 830px) {
  .main-gallery {
    display: grid;
    grid-template:
      "image_1 " auto
      "text_1 " auto
      "image_2" auto
      "text_2" auto
      "image_3" auto
      "text_3" auto
      / 1fr;
  }

  .text-content_one,
  .text-content_three {
    margin: 0rem 2rem;
  }
}

@media screen and (max-width: 580px) {
  .main-heading {
    display: flex;
    flex-direction: column;
  }

  .main-hrading_h1 {
    padding: 0rem 2rem;
  }
  .main-heading__paragraph {
    padding: 0rem 2rem;
  }
}
